<% layout('layouts/boilerplate') %>

<!-- <div class="container">
  <section class="container my-5">
    <h1 class="text-center black-text">About.</h1>
    <div class="row mt-5 flex-column" style="height: 250px">
      <div
        class="col-md-8 d-flex justify-content-center align-items-start black-text light"
      >
        <p class="ms-5">
          "It is my pleasure to introduce myself as a software developer
          currently based in Izmir, Turkey. My career as a software developer
          began in the year 2022. I have been a professional DJ and music
          producer since 2015, along with software development. I believe in
          simplicity and find beauty in plain and simple things. This philosophy
          also extends to my designs and life, where I always try to keep things
          minimal and elegant. I am also interested in Eastern philosophy and
          incorporating it into my lifestyle."
        </p>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-self-start">
        <img
          src="images/background removed-website.svg"
          class="object-center object-contain relative rounded-circle"
          alt="Emre Turan"
          style="
            width: 250px;
            height: 250px;
            margin-top: -120px;
            /* margin-left: 250px; */
            background-color: white;
          "
        />
      </div>
    </div>
    <div class="row align-items-sm-end">
      <div
        class="col-md-12 d-flex justify-content-center align-items-start mt-3"
      >
        <div class="download-container">
          <a
            class="download-button"
            style="text-decoration: none"
            role="button"
            target="_blank"
            href="https://drive.google.com/file/d/17CaFpOdrpxaRxaOW_AdD6dRrc_KlUKRC/view?usp=sharing"
          >
            View My Resume
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cloud-arrow-down"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"
              />
              <path
                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
</div> -->

<div class="container">
  <h1 class="text-center black-text mb-5">About.</h1>
  <div class="row">
    <div class="col-md-7 order-md-1 order-2">
      <p class="m-3 p-4 light">
        "It is my pleasure to introduce myself as a software developer currently
        based in Izmir, Turkey. My career as a software developer began in the
        year 2022. I have been a professional DJ and music producer since 2015,
        along with software development. I believe in simplicity and find beauty
        in plain and simple things. This philosophy also extends to my designs
        and life, where I always try to keep things minimal and elegant. I am
        also interested in Eastern philosophy and incorporating it into my
        lifestyle."
      </p>
    </div>
    <div class="col-md-5 text-center order-md-2 order-1">
      <img
        src="images/background removed-website.svg"
        class="img-fluid rounded-circle"
        alt="Emre Turan photo"
        style="max-height: 300px; width: 250px; height: 250px; margin-top: -8%"
      />
    </div>
    <div class="col-md-12 text-center my-5 order-md-3 order-3">
      <a
        class="download-button"
        style="text-decoration: none"
        role="button"
        target="_blank"
        href="https://drive.google.com/file/d/17CaFpOdrpxaRxaOW_AdD6dRrc_KlUKRC/view?usp=sharing"
      >
        View My Resume
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-cloud-arrow-down"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"
          />
          <path
            d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
